---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import PostCard from "../components/PostCard.tsx";
import Icon from "astro-icon";

interface PostCarcContent {
  title: string;
  description: string;
  date: string;
  tags: string[];
}

interface PostCardService extends Array<PostCarcContent> {}

const HardCodedPosts: PostCardService = [
  {
    title: "Creating my first astro framework project",
    description:
      "This website was first made by using Astro Framework. I have been using other frameworks such as nextjs, nuxtjs, flutter, and yet this is the best framework for me. At first, I thought this framework was only for content based framework. But thanks to the supports, this framework can be used to make more complex websites.",
    date: "18 Sept 2023",
    tags: ["#astro", "#tailwind", "#react", "#svelte"],
  },
  {
    title: "Less than half a month left",
    description:
      "There is Less than half a month left for me to finish my quelify project with the client. Pray for me :)",
    date: "16 Sept 2023",
    tags: ["#quelify", "#flutter", "#nextjs"],
  },
  {
    title: "Check the halal status",
    description:
      "Recently, there have been a viral about haram claypot. This is very intriguing for many muslims since we cannot fully determine the halal status. By using this bot, you can check the halal status of your intended premises. Do not worry since this bot is supported and powered by JAKIM database. However, there might be a slow in using due to poor performance of JAKIM's server.",
    date: "13 Sept 2023",
    tags: ["#halal", "#expressjs", "#telegrambot", "#halalcheckerbot"],
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h4 class="font-bold text-5xl pb-5">🧑‍🚀 Greetings!</h4>
      <p class="text-left">
        Welcome to my tech world! I&apos;m a problem-solving tech enthusiast
        with a passion for projects that push boundaries. From web design to
        cutting-edge software, I&apos;m always exploring the latest tech trends.
        Join me in this journey of innovation! Explore my projects and tech
        insights, and let&apos;s create together.
      </p>
      <!-- <h5>Since you are already here, check out my profile!</h5> -->
      <div class="mt-20">
        <div class="m-0 p-0">
          <h5 class="text-4xl font-bold">Recent posts</h5>
          <hr
            class="rounded"
            style="border-top: 1px solid #bbb; border-radius: 5px; margin-top: 1rem;"
          />
        </div>
        <div style="margin: 0; padding: 0;" class="posts-recent">
          {
            HardCodedPosts.map((e) => {
              return (
                <>
                  <PostCard
                    title={e.title}
                    description={e.description}
                    date={e.date}
                    tags={e.tags}
                  />
                </>
              );
            })
          }
        </div>
        <a href="/blog" class="hover:text-LPrimary w-fit flex flex-row pt-3">
          <h6
            class="h-auto w-fit flex flex-row hover:text-inherit hover:underline"
          >
            All posts <Icon
              pack="ri"
              name="arrow-right-s-line"
              class="h-7 w-7 flex text-center"
            />
          </h6>
        </a>
      </div>
    </main>
    <Footer />
  </body>
</html>
